<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CRUD Node.js and Mysql</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h2>Resultados</h2>
    <img src="https://s3-us-west-2.amazonaws.com/guatevision/wp-content/uploads/2019/06/PRESIDENTE-2.png.png" alt="Trulli" width="500" height="333">
    <img src="https://s3-us-west-2.amazonaws.com/guatevision/wp-content/uploads/2019/06/PRESIDENTE-1.png.png" alt="Trulli" width="500" height="333">
    <img src="https://s3-us-west-2.amazonaws.com/guatevision/wp-content/uploads/2019/06/ACTUALIZACI%C3%93N-1.png1.png" alt="Trulli" width="500" height="333">
    <img src="https://s3-us-west-2.amazonaws.com/cdn.republica.gt/2019/06/image-11.png" alt="Trulli" width="500" height="333">
    <img src="https://s3-us-west-2.amazonaws.com/cdn.republica.gt/2019/06/image-11.png" alt="Trulli" width="500" height="333">
</body>
</html>
